#results{
  font-family: cursive;
  font-weight: bold;
  color: blue;
  font-size: 35px;
}

div p{
  display: none;
}

body{
  background-image: url("bkgrd.jpg");
  background-color: pink;
  color: #310c0c;
}

h1{
  text-align: center;
  text-decoration: underline;
}

p{
  font-style: italic;
}
