#results{
  display:none;
}

body{
  background-image: url("bkgrd.jpg");
  background-color: pink;
  color: #310c0c;
}

h1{
  text-align: center;
  text-decoration: underline;
}

p{
  font-style: italic;
}
